html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.video-js .vjs-current-time { display: block; background: pink; color: blue; }
		.video-js .vjs-time-divider { display: block; }
		.video-js .vjs-duration { display: block; background-color: red; }
		.video-js .vjs-remaining-time { display: none; }

    .vjs-default-skin .vjs-big-play-button {
      /* The font size is what makes the big play button...big. 
         All width/height values use ems, which are a multiple of the font size.
         If the .video-js font-size is 10px, then 3em equals 30px.*/
      font-size: 30em;
      background: red;
    }
		.video-js .vjs-control-bar,
.video-js .vjs-big-play-button,
.video-js .vjs-menu-button .vjs-menu-content {
  top: 36%!important;
  left: 36%!important;
}
.video-js { display: flex!important; }

.video-js .vjs-control-bar {
 
  width: 100%!important;
  position: absolute!important;
  bottom: 0px!important;
  left: 0!important; 
  right: 0!important; 
  height: 10px!important; 
  top: calc(100% - 25px) !important; 
}

		/* #.video-js .vjs-mute-control { display: none; }
		#.video-js .vjs-volume-menu-button { display: none; }
		#.video-js .vjs-volume-bar { display: none; }
		#.video-js .vjs-progress-control { display: none; } */

    

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: green;
    background: white;
  }
}
