.overlaycss {
    width: 50%;
    height: 20%;
    z-index: 2000;
    position: absolute;
    font-size: 22px;
    text-align: center;
    padding-top: 500px;
  }
  
  a.button {
    align-items: flex-start;
    background-color: #00c0fa;
    border: none;
    border-radius: 4px;
    border-bottom: solid 2px #d0d7dd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", "sans";
    font-size: 12px;
    line-height: 1;
    margin: 0;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: bottom;
  }
  
  .button-group {
    margin-top: 2em;
    text-align: center;
  }
  
  button:focus,
  a.button:focus {
    outline: none;
  }
  button:hover,
  a.button:hover {
    background-color: #2ecfff;
    cursor: pointer;
  }
  button:active,
  a.button:active {
    background-color: #0099c7;
    outline: none;
  }
  
  .content {
    padding-top: 400px;
  }
  